<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2TAT-Demo</title>
    <link rel="shortcut icon" href="#">
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- recogito CSS -->
    <link href="{{ url_for('static', filename="css/recogito.min.css") }}" rel="stylesheet" type="text/css" />
    <!-- custom CSS -->
    <link href="{{ url_for('static', filename="css/custom.css") }}" rel="stylesheet" type="text/css">
    <!-- fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <!-- others -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 id="main_title">2TAT - <i>Tiny Text Annotator Template</i> -</h1>
            <br>
            <div id="message_info">{{ message_info }}</div>
            <br>
            <button id="added-all-annotations" class="btn btn-info">Reset demo annotations</button>
            <button id="remove-all-annotations" class="btn btn-danger">Remove all annotations</button>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <a class="github-fork-ribbon" href="https://github.com/Lucaterre/2TAT" target="_blank" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
        </div>
    </div>
    <div class="row">
        <div id="list-info-container" class="col-md-3 col-sm-3 col-sm-offset-1">
            <h2><i class="fa fa-tag"></i><span id="total-annotation">0</span> Annotations</h2>
            <hr>
            <div id="number-annotations">
                <input type="text" id="search-input"  placeholder="Search for annotations..">
                <input id="clear-input-text" type="submit" value="clear">
                <i class="fa fa-question" title="Query mention in all annotations. To restore list, click on clear or annotate the text."></i>
                <br>
                <br>
                {% for label, color in mapping.items() %}
                    <span id="entityLabel" class="{{ label }}">{{label}} <i class="fa fa-angle-down"></i></span>
                    <span id="entityLabelCount-{{ label }}">0</span>
                    <ul id="list-{{ label }}" class="list-group">
                        {% for mention, count in stats_mention[label] %}
                            <li id="list-{{ label }}-{{ mention }}" class="list-state list-group-item d-flex justify-content-between align-items-center">
                                <button id="remove/$-$/{{ label }}/$-$/{{ mention }}" class="btn btn-danger btn-sm btn-remove"><i class="fa fa-times"></i></button>
                                {{ mention }}
                                <span id="list-badge-{{ label }}-{{ mention }}" class="badge">{{ count }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    <br>
                    <br>
                {% endfor %}
            </div>
        </div>
        <div id="annotation-container" class="col-md-8 col-sm-8 col-sm-offset-1">
            <h2><i class="fa fa-file"></i> Text</h2>
            <hr>
            <pre class="selection"  id="text">{{ text }}</pre>
        </div>
        <div class="col-md col-sm col-sm-offset">
            <div id="options-selector">
                <br>
                <br>
                <button class="btn btn-dark" id="zoomIn" title="zoom in"><i title="zoom in" class="fa fa-search-plus"></i></button>
                <br>
                <button class="btn btn-dark" id="zoomOut" title="zoom out"><i title="zoom out" class="fa fa-search-minus"></i></button>
                <br>
                <a class="btn btn-dark" id="export" title="export annotations in JSON (W3C annotation data format)" href="{{ url_for('export_annotations')}}"><i title="export W3C annotations format" class="fa fa-file-export"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- recogito JS -->
<script type="text/javascript" src="{{ url_for('static', filename="js/recogito/recogito.min.js") }}"></script>
<!-- recogito custom JS -->
<script type="text/javascript" src="{{ url_for('static', filename="js/recogito-custom/recogito.custom.js") }}"></script>
</body>
</html>